.site-team {
  @include padding($base-spacing * 2 null);
  @include linear-gradient($l-orange, $yellow);
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.section--team-list {
  @include row();

  .item--person {
    @include span-columns(4);

    .person-name {
      color: $red;
      text-shadow: none;
      border-bottom: 3px solid $l-orange;
      @include margin(null null $small-spacing null);
      @include padding(null null $small-spacing / 4 null);
    }

    .person-image {
      height: 250px;
      background-position: 50% 50%;
      background-size: cover;
      @include margin(null null $base-spacing / 2 null);
      border: 2px solid white;
    }

    .person-description {
      color: $dark-gray;
      text-shadow: none;
    }

    @media (max-width: 900px) {
      @include span-columns(12);

      .person-image {
        display: none;
      }

      @include margin(null null $base-spacing * 2 null);
    }

  }

}

.person-links {
  .item--social {
    display: inline-block;
    font-family: $alt-font-family;
    text-transform: uppercase;
    font-weight: bold;
  }

  .social-link {
    text-shadow: none;
    @include padding(null $small-spacing / 2);
  }

  .social-icon {
    fill: $d-orange;
    cursor: pointer;
    @include transition(fill 0.1s linear);

    &:hover {
      fill: $red;
    }
  }
}